body{
/*избавляемся от отступов которые по умолчанию есть у боди и добавляем шифт*/
    margin:0;
    padding:0;
    font-family:"Roboto", "sans-serif";
}

.main-container {
    /*Здесь распологается всё содержимое нашей страницы*/
    margin: 0 auto;
    max-width: 1120px;
    min-width: 320px;
}

/* header styles */

.menu-bar{/*Это икнока ктороая будет вместо навбара*/
    display: none;
}
.header-container{
    width: 100%;/*ширина header */
    padding: 70px 32px; /*отступы паддинга*/
    display: grid;/*После того как задал грид контейнеру нужно указать сколько колонок в этом гради контейнере будет*/
    grid-template-columns: 1fr 3fr 1fr;/*параметры каждой калонки*/
    box-sizing: border-box; /*свойство заставляет браузер включаь в вширину элементов всё отступы рамки т .д.*/
}
.main-logo{/*Рамер картинки логтипа*/
    width: 163px;
}

.header-nav{/*Часть в которой разсположениы сслыки*/
    display: flex;/*Выравнять элементы по вертикали нужно, делаем через флекс. Главная ось направляется слева направо*/
    align-items: center; /*то если мы хотим выравнять по вертикали тогда испоьзуем это свойство и выравнивание по центру*/
}

.header-link{/*отредактируем наш навбар там где ссылки на блог шоп и т.д.*/

    margin: 0 7px;    /* Отступ от каждого слова */
    text-decoration: none;  /* убирает нижнее подчёркивание*/
    color: #000;  /* цвет чёрный*/
    text-transform: uppercase; /* text upper */
    font-weight: bold; /* Text жирный*/  
    font-size:11px; /*изменили размер шрифта */
    letter-spacing: 3px;/* немного расширили расстояние между буквами*/
}


.header-link:hover{ /* псевдо класс используется при наведении*/
     color: #4c665b;
}

.header-social-media{/*класс для контейнера в котором находятся иконочки*/
    display:flex;
    justify-content: flex-end;/*сместим икноки в конец вверх*/
    align-items:center;/*нужно выравнять по перекрётсной оси в центр*/
}

.header-social-icon{/*раздвинуть иконки*/
margin: 0 8px;
}


/*Хотим сделать чтобы при наведении на бар с иконками и все стали тускнее
и при выборе определённой она поменяа свой цвет*/
.header-social-media:hover{/*при наведении на контейнер он меняет свой цвет*/
    color: #4c6654;
}

.header-social-icon:hover{/*при наведении на иконку устанавливаем чёрный цвет*/
    color:#000;
}

/*styles for banner section*/
.banner{
    display: grid;
    grid-template-columns: 5fr 6fr;
    align-items: end;
    padding: 32px;
}

.banner-img{
    width: 100%;
}

.banner-content{
    padding-left: 30px;
    display: grid;
    grid-template-areas: "header ."
    "latest insta";
}

.banner-img-container{
    display: flex;
    align-items: flex-end;
}

.banner-content-header{
    font-size: 36px;
    width: 280px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    padding: 10px 0;
    text-transform: uppercase;
    grid-area: header;
}

.banner-latest{
    width: 230px;
}


.banner-latest-container{
    grid-area: latest;
}

.banner-insta-container{
    grid-area: insta;
}

.banner-content-img-container{
    position: relative;
    display: flex;
    align-items:flex-end;
}

.banner-bottom-text{
    position: absolute;
    left: 30px;
    bottom:25px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}